* {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
    background: linear-gradient(#b2cecf88, #b2cecf88), url('../img/bg-img.jpeg');
    /* background:#b2cecf; */

    color: #3d5367;
    font-family: 'Playfair Display', serif;
   }

.grid-container {
  display: grid;
  width: 100%;
  height: 100vh;
  margin: 0 auto;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 8fr 1fr;
  grid-template-areas:  "header header header"
                        "main main main"
                        /* "main main main" */
                        "footer footer footer";
  grid-gap: 10px;
  padding: 0;
}

/* .grid-container > div {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding: 20px 0;
  font-size: 30px
  #EBEBD3;
} */

header {
  grid-area: header;
  background-color: #b2cecf;
  padding: 10px;

}

main {
    grid-area: main;
  padding: 20px 0px;
  max-width: 60em;
  width: 80%;
  margin: 0 auto;
  color: #fffdef;
}


footer {
    grid-area: footer;
    background-color: #b2cecf;
    padding: 20px;

}

.top-grid {
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
}


.logo > img{
    width: 125px;
}

.greetings > h1 {
    margin: 0 auto;
    text-transform: capitalize;
}

.greetings {
    text-align: center;
}

.logout {
    text-align: right;
    margin: auto 5px auto auto;
}

.logout-btn {
    background-color:#3d5367; 
    border-radius: 2px;
    border-color: #3d5367;
    color:#fffdef;
    padding: 0.7em 1.2em;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    /* margin: 4px 2px; */
    cursor: pointer;

}

.btn:hover {
    background-color: #3d5367aa;
    border-color: #3d5367aa;
}

.form-grid {
    display:grid;
    grid-template-columns: repeat(4,1fr);
    width:100%;
    grid-gap: 10px;
    /* background-color: #3d5367; */
}

input[type=date], input[type=number], input[type=text], input[type=password], select {
    margin: 0;
    padding: .3em 1em;
    border: none;
    border-radius: 2em;
    display: block;
    width:80%;
    max-width: 100%;
}

.submit {
    border-radius: 2em;
    display: block;
    border: none;
    padding: .3em 1em;
    background-color: #3d5367;
    color:#fffdef;
    font-weight: bold; 
}

button {
    border-radius: 2em;
    display: block;
    width:90%;
    /* height:50px; */
    border: none;
    padding: .3em 1em;
    background-color: #3d5367;
    color:#fffdef;
    font-size: 1em;
    font-weight: bold;
    margin: 0;
}

.merge {
    grid-column-start: 2;
    grid-column-end: 4;
}

main > h1 {
    font-size: 2em;
}


@media (max-width: 879px) {
    .form-grid {
        max-width: 640px;
        margin: 0 auto;
        display:grid;
        grid-template-columns: 1fr;
    }
    .merge {
        grid-column-start: 1;
        grid-column-end: 2;
    }

    .button {
        width:80%;
    }
}

/* label {
    font-size: .5em;
} */

/* .gallery-grid {
    display:grid;
    grid-template-columns: repeat(4,1fr);
     grid-template-rows: 1fr 1fr;
    grid-gap: 10px;
    width:100%;
    margin-top: 10px;
}

.gallery-grid > div {
    background-size: cover;
    height: 10em;
}

.item1 {
    background-image: url(../img/hotel1.jpeg);
}

.item2 {
    background-image: url(../img/hotel2.jpeg);
}

.item3 {
    background-image: url(../img/hotel3.jpeg);
}

.item4 {
    background-image: url(../img/hotel4.jpeg);
}

.item5 {
    background-image: url(../img/gallery1.jpeg);
}

.item6 {
    background-image: url(../img/gallery2.jpeg);
}

.item7 {
    background-image: url(../img/gallery3.jpeg);
}

.item8 {
    background-image: url(../img/gallery4.jpeg);
} */