/* Base styles */
* {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
    background: linear-gradient(#b2cecf88, #b2cecf88), url('../img/bg.jpeg') no-repeat;
    background-size: cover;
    color: #3d5367;
    font-family: 'Lato', sans-serif;
}

.grid-container {
  display: grid;
  width: 100%;
  height: 100vh;
  margin: 0 auto;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 8fr 1fr;
  grid-template-areas:  "header header header"
                        "main main main"
                        "footer footer footer";
  grid-gap: 10px;
  padding: 0;
}

header {
  grid-area: header;
  background-color: #b2cecf;
  padding: 10px;

}

main {
    grid-area: main;
  padding: 20px 0px;
  max-width: 60em;
  width: 80%;
  margin: 0 auto;
  color: #3d5367;
}


footer {
    grid-area: footer;
    background-color: #b2cecf;
    padding: 20px;

}

/* Header section styles */

.top-grid {
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
}


.logo > img{
    width: 125px;
}

.greetings > h1 {
    margin: 0 auto;
    text-transform: capitalize;
}

.greetings {
    text-align: center;
}

.logout {
    text-align: right;
    margin: auto 5px auto auto;
}

.logout-btn {
    background-color:#3d5367; 
    border-radius: 2px;
    border-color: #3d5367;
    color:#fffdef;
    padding: 0.7em 1.2em;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    cursor: pointer;
}

.btn:hover {
    background-color: #3d5367aa;
    border-color: #3d5367aa;
}

/* Main section styles */

.form-grid {
    display:grid;
    grid-template-columns: repeat(3,1fr);
    width:100%;
    grid-gap: 10px;
}

.form-bg {
    background: #fffdefaa;
    padding: 30px 20px;
}


.container {
    position: relative;
    width: 100%;
  }

  main > h1 {
    font-size: 2em;
}
  
  /* Image overlay */
  .image {
    opacity: 1;
    width: 100%;
    height: 200px;
    transition: .5s ease;
    backface-visibility: hidden;
}
  
.middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}
  
  .container:hover .image {
    opacity: 0.3;
  }
  
  .container:hover .middle {
    opacity: 1;
  }
  
  .text {
    color: black;
    font-size: 16px;
    padding: 16px 32px;
  }

  /* Data input styling */

input[type=date], input[type=number], input[type=text], input[type=password], select {
    margin: 0;
    padding: .3em 1em;
    border: none;
    border-radius: 2em;
    display: block;
    width:80%;
    max-width: 100%;
}

/* buttons */

.submit {
    border-radius: 2em;
    display: block;
    border: none;
    padding: .3em 1em;
    background-color: #3d5367;
    color:#fffdef;
    font-weight: bold; 
}

button {
    border-radius: 2em;
    display: block;
    width:80%;
    border: none;
    padding: .3em 1em;
    background-color: #3d5367;
    color:#fffdef;
    font-size: 1em;
    font-weight: bold;
    margin: 0;
}

a {
    text-decoration: none;
}
/* Gallery  */

.gallery-grid {
    display:grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 10px;
    width:90%;
    margin-top: 10px;
}

.container > p {
    font-size: 1em;
    text-align: center;
}

#amount {
    background-color: cornsilk;
    padding: 3px;
    text-align: center;
}

.gallery-grid > img {
    background-size: cover;
    height: 200px;
}

/* Footer */

footer {
    text-align: center;
    font-size: .8em;
}


/* Responsive design */

@media (max-width: 879px) {
    .form-grid {
        max-width: 640px;
        margin: 0 auto;
        display:grid;
        grid-template-columns: 1fr;
    }
    .merge {
        grid-column-start: 1;
        grid-column-end: 2;
    }

    .button {
        width:80%;
    }

    .gallery-grid {
        display:grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 10px;
        width:100%;
        margin-top: 10px;
    }
}

